<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<!DOCTYPE plist PUBLIC \"-//Apple//DTD PLIST 1.0//EN\"
\"http://www.apple.com/DTDs/PropertyList-1.0.dtd\">
<plist version=\"1.0\">
  <dict>
    <key>Label</key>
    <string>org.cawe.fluent-bit</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/fluent-bit</string>
      <string>-c</string>
      <string>/etc/gha/configs/fluent-bit.conf</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/admin/Library/Logs/CAWE/fluent-bit.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/admin/Library/Logs/CAWE/fluent-bit.error</string>
    <key>KeepAlive</key>
    <true/>
    <key>Disabled</key>
	  <false/>
  </dict>
</plist>
