<?xml version=\"1.0\" encoding=\"UTF-8\"?>
<!DOCTYPE plist PUBLIC \"-//Apple//DTD PLIST 1.0//EN\"
\"http://www.apple.com/DTDs/PropertyList-1.0.dtd\">
<plist version=\"1.0\">
  <dict>
    <key>Label</key>
    <string>org.cawe.monitoring_controller</string>
    <key>ProgramArguments</key>
    <array>
      <string>/opt/homebrew/bin/python3</string>
      <string>/etc/gha/common/monitoring_controller/main.py</string>
      <string>10</string>
      <string>https://metrics-injest.prod.eu-central-1.cawe.daytona.eu-central-1.aws.cloud.bmw</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardOutPath</key>
    <string>/Users/admin/Library/Logs/CAWE/monitoring_controller.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/admin/Library/Logs/CAWE/monitoring_controller.error</string>
    <key>KeepAlive</key>
    <true/>
    <key>Disabled</key>
	  <false/>
  </dict>
</plist>
