{
	"tabWidth": 4,
	"singleQuote": true,
	"quoteProps": "preserve",
	"useTabs": false,
	"printWidth": 120,
	"arrowParens": "always",
	"proseWrap": "always",
	"trailingComma": "all",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"tabWidth": 2,
				"singleQuote": false,
				"proseWrap": "preserve"
			}
		},
		{
			"files": "*.json",
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": "*.md",
			"options": {
				"tabWidth": 2
			}
		}
	]
}
